.tenantItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  min-height: 186px;
  padding: 0 24px 8px;
  background: var(--pink-secondary);
  border-radius: 24px !important;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(40px) !important;
  transition: all 0.167s ease-in !important;
}

.tenantItem:hover {
  background: var(--pink-active);
}

.tenantItemHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tenantItemEmptyHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
