* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gradient-bg: linear-gradient(
    to bottom,
    rgb(191, 162, 219),
    rgb(240, 230, 255)
  );
  --pink: #c4a9df;
  --pink-secondary: #dbc9ed;
  --pink-active: #ccb0e9;
  --dark: #161616;
}
